albertk==0.0.1.3
textrank4zh==0.3
requests==2.21.0
jiagu==0.1.8
jieba==0.39
Flask_Limiter==1.1.0
pymongo==3.10.1
memory_profiler==0.57.0
sumy==0.8.1
elasticsearch_dsl==7.1.0
pytorch_transformers==1.2.0
pyltp==0.2.1
transformers==2.8.0
sentencepiece==0.1.85
Flask==1.1.1
harvesttext==0.7.3
Flask_SocketIO==4.2.1
torch==1.3.1
tqdm==4.45.0
thulac==0.2.0
elasticsearch==7.6.0
albert_pytorch==0.0.1.9
numpy==1.18.2
pytorch_pretrained_bert==0.6.2
Keras==2.2.5
apex==0.9.10dev
MagicBaidu==0.0.9
Terry_toolkit==0.0.1.8
tiktThreading==0.0.1.0
tkitDb==0.0.1.2
tkitFile==0.0.1.2
tkitMarker==0.0.1.21
tkitMarker_bert==0.0.0.5
tkitNextSents==0.0.2
tkitNlp==0.0.1.1
tkitText==0.0.1.58
tkitW2vec==0.0.0.1.4
