<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8" />
  <!-- Required meta tags -->

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Ai写作助手</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="/static/css/editormd.css" />
  <!-- <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" /> -->
  <style>
    header h1 {
    background: #0e0e0e;
    padding: 2px 20px;
    color: #fff;
}
    div#plist {

      background: #fff;
      border: 1px solid #ccc;
      padding: 5px;
      font-size: 1.1em;
      color: #333;
      /* overflow-y: auto; */

      /* min-height: 100px; */
      width: 100%;
    }

    .sumy {
      padding: 20px;
    }
    p.sent.y {
    background: #daffc4;
}
    .plist {
      overflow-y: scroll;
      max-height: 400px;
    }

    div#plist li {
      list-style: decimal-leading-zero;
      padding: 2px 10px;
      border-bottom: 1px dotted #ccc;
      min-width: 150px;
      text-align: left;
      cursor: pointer;
      font-size: 0.9em;

    }

    div#plist li:nth-child(even) {
      background: #ddd
    }

    div#plist li:hover {

      background: rgb(7, 97, 156);
      color: #fff;
    }

    ul#plist_ul {
      /* height: 165px;
    overflow-y: scroll; */
      margin-left: 20px;
    }

    #pre_loading {
      margin: 10px 149px;

    }
    div#pop-box {
    padding: 20px;
    background: #8c8c8c;
}
    .b {
      color: firebrick
    }

    .tips {
      width: 90%;
      display: block;
      margin: auto;
    }

    #settings-box .modal-body,
    #settings-box .modal-header,
    #settings-box .modal-footer {

      margin: 0 30%;
      background:

        #ccc;

    }

    .pre-shot {

      cursor: auto !important;
      color: #333 !important;
      padding: 10px;
      background: #c1bebe;
      font-size: 0.8em;
    }

    .it.active {
      background: #989da5 !important;
      color: #fff !important
    }

    #marker li {
      border-bottom: 1px #ccc dotted;
      list-style: none;
      margin: 2px 15px;
    }

    h3 {
      font-size: 1.3em;
      padding: 5px;
    }

    .kg-info dl {
      border: 1px solid #c5c5c5;
      padding: 10px;
    }

    .kg-info dd {
      margin-left: 16px;
    }

    div#marker {
      height: 700px;
      overflow-y: auto;
    }

    #marker-tags .badge {
      margin: 2px;
      padding: 8px;
    }

    .it.c {
      background-color: #ddd;
    }

    .sent {
      background: #f6f6f6;
      margin: 2px;
      padding: 5px 10px;
    }
.used{
  background: #c2fb68;
  margin: 2px;
}
    .highlights {
    padding: 20px;
}
#getpingji_text{
  white-space:pre-wrap
}

ul.context-menu-list.context-menu-root {
    z-index: 9999 !important;
}

div#mark_warp {
  position: fixed;
    bottom: 10px;
 
    width: 490px;
    background: #ffc107;
    padding: 10px;
    margin-bottom: -10px !important;
    z-index: 9999;
    overflow: hidden;
}
#mark_header {
    width: auto;
 
    background: #e8ae00;
    padding: 10px;
}
ul#mark {
    list-style: none;
    overflow: auto;
    max-height: 650px;
    height: 0;
}
ul#mark.mark_inited {

    height: 650px;
}

ul#mark li {
    list-style: none;
    padding: 5px;
    background: #ffce3c;
    margin-top: 5px;
}
div#search_sm {
    position: fixed;
    bottom: 0;
    width: 750px;
    z-index: 99999;
    background: #ccc;
    padding: 13px;
    margin: 0 !important;
}
ul#mark li.sent_add.used {
    background: #d1ffbe;
}

div#miaoshu-rs .sent {
    display: inline-block;
}
p.sent_pop {
    display: inline-block;
    background: #f5f5f5;
    margin: 2px;
    padding: 2px;
    border: 2px solid #afa6a6;
}
p.sent_pop.clicked {
    background: #ffc107;
}

  </style>
</head>

<body>
  <div id="layout">


    <div class="container-fluid">
      <header>
        <h1>Ai Editor</h1>
      </header>
      <div class="row">


        <div class="col-md-4 col-xl-3 bd-sidebar">

          <div class="btn-group">
            <button id="settings" type="button" class="btn btn-default settings">设置</button>
            <button id='getkeywords' type="button" class="btn btn-default">转换成关键词 </button>
            <button id="getkeyseq" type="button" class="btn btn-default"> 转换成关键语句</button>
          </div>

          <!-- 预测提示 -->
          <div id="rank-box">
            
            <button id="getpingji">获取评级</button>
            <button id="getpaixu">Ai排序</button>
            <button id="getfenduan">自动分段</button>
            <button id="getcaogao">Ai草稿</button>
            <button id="getcaogao_stop">Ai草稿停止</button>
            <input id="num" type="number" class="form-control" id="inlineFormInputName" value="5" placeholder="num">
            <div class=""> 当前评级：<span id="rank">Null</span>(100)</div>
 
            <div id='getpingji_text'></div>
          </div>
          <h2>续写</h2>

          <div id="plist" class="plist ">

          </div>
          <h2>下一句</h2>
          <div id="plist_next" class="plist plist_next">
            <ol></ol>
          </div>
          <!-- 预测提示end -->



        </div>

        <div class="col-md-5 col-xl-6 main-content">
          <input id="title" type="text" class="form-control" id="inlineFormInputName" placeholder="标题">
          <div id="test-editormd">
            <textarea style="display:none;"></textarea>
          </div>
          <p class='tips'>按下Tab键获取人工智能建议</p>

          <div id="search_sm" class="input-group ">
            <input id="ner_input" type="text" class="form-control" id="inlineFormInputName" placeholder="实体">
         

            <input id="serachkeywords_input" type="text" class="form-control" id="inlineFormInputName" placeholder="关键词">
         

            <div class="input-group-append">
 
              <button id='serachkeywords' type="submit" class="btn btn-primary  btn-outline-secondary">搜索</button>
            </div>
            
          </div>

 
          <div id="miaoshu-rs" class="plist1">
          </div>
          
          <!-- <div id="serach-julei"  class="plist1">
          </div> -->
          <div id="serach-rs" class="plist1 accordion">
          </div>
        </div>


        <div class="col-md-3 col-xl-3 r-sidebar">
          <h2>句子</h2>
          <div id="serach-sent" class="plist accordion">
            <ol></ol>
          </div>


          <div class="accordion plist1" id="serach-julei">

          </div>


          <h2>知识拓展</h2>
          <!-- 知识信息 -->
          <div id="marker-tags">

          </div>
          <!-- 知识信息end -->
          <!-- 知识信息 -->
          <div id="marker-box">
            <div class="accordion" id="marker">
            </div>
          </div>
          <!-- 知识信息end -->





        </div>








      </div>
    </div>
    <div id="mark_warp">
      <div id="mark_header">
        <svg class="bi bi-box-arrow-down-left" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M13 1.5A1.5 1.5 0 0114.5 3v8a1.5 1.5 0 01-1.5 1.5H9a.5.5 0 010-1h4a.5.5 0 00.5-.5V3a.5.5 0 00-.5-.5H5a.5.5 0 00-.5.5v4a.5.5 0 01-1 0V3A1.5 1.5 0 015 1.5h8zm-11 7a.5.5 0 00-.5.5v5a.5.5 0 00.5.5h5a.5.5 0 000-1H2.5V9a.5.5 0 00-.5-.5z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M1.646 14.354a.5.5 0 00.708 0l8-8a.5.5 0 00-.708-.708l-8 8a.5.5 0 000 .708z" clip-rule="evenodd"/>
        </svg>
        收藏

        <span class="num">null</span>
        <svg  id="mark_header_clear" class="bi bi-trash" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
        </svg>


    </div>
      <ul id='mark'></ul></div>
  </div>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/editor.md/editormd.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    var testEditor;

    $(function () {

      window.sessionStorage.setItem('tab_task_time', Date.now())

      TEditormd = editormd("test-editormd", {
        width: "100%",
        height: 600,
        watch: false,
        syncScrolling: "single",
        path: "/static/editor.md/lib/",
        disabledKeyMaps: [
          "Ctrl-B", "F11", "F10"  // disable some default keyboard shortcuts handle
        ],
        onload: function () {
          var keyMap = {
            "Ctrl-S": function (cm) {
              // alert("Ctrl+S");
              var text = cm.getValue()

              window.localStorage.setItem("text", text)
              var title = $("#title").val()
              window.localStorage.setItem("title", title)
            },
            "Tab": function (cm) {
              // alert("tabsssss");
              console.log("点击tab!")
              tab()
            },
            // "Ctrl-A": function(cm) { // default Ctrl-A selectAll
            //     // custom
            //     alert("Ctrl+A");
            //     cm.execCommand("selectAll");
            // }
          };

          // setting signle key
          var keyMap2 = {
            "Ctrl-T": function (cm) {
              alert("Ctrl+T");
            }
          };

          this.addKeyMap(keyMap);
          this.addKeyMap(keyMap2);
          this.removeKeyMap(keyMap2);  // remove signle key
          var text = window.localStorage.getItem("text")

          var title = window.localStorage.getItem("title", title)
          $("#title").val(title)
          // 插入
          this.insertValue(text);


        },
        onchange: function () {
          // text = TEditormd.getSelection()
          //   console.log("自动保存")
          //  console.log( this.getValue())
          // var text = cm.getValue()
          // window.localStorage.setItem("text", text)
          // $("#output").html("onchange : this.id =>" + this.id + ", markdown =>" + this.getValue());
          // console.log("onchange =>", this, this.id, this.settings, this.state);
          // // 在输入后自动执行预测
          // console.log("自动执行")
          // var now=Date.now()


          // var tab_task = window.sessionStorage.getItem('tab_task')
          // var tab_task_time=window.sessionStorage.getItem('tab_task_time')
          // console.log("时间差值",now-tab_task_time)

          // if (now-tab_task_time>=1000*5){


          // if (tab_task==true && now-tab_task_time<1000*60*10){
          //   console.log("后台有任务运行")
          // } else if (tab_task==true && now-tab_task_time>=1000*60*10){
          //   console.log("时间差值",now-tab_task_time)
          //   autotab();
          // } else if (tab_task==false && now-tab_task_time<1000*10){
          //   console.log("小于10s")

          //   // autotab();

          // }else{
          //   autotab();
          // }

          // }else{
          //   console.log("小于1w")
          // }
          // var v=window.localStorage.getItem('versions')
          // var n_v=Number(v)+1
          //  window.localStorage.setItem('versions',n_v)
          //  window.localStorage.setItem('versions'+n_v,TEditormd.getMarkdown())
          // // var now=Date.now()
          // // var data = window.localStorage.getItem('autotab_task')
          // // if (now-data>1000*30){
          // //   console.log("提交",now-data)
          // //   autotab() 
          // // }else{
          // //   console.log("过于频繁提交",now-data)
          // // }
          // // autotab()
          //     // timer = setTimeout(function(){
          //     //   autotab()
          //     // },10);

        }
      });

      /*
      // or
      testEditor = editormd({
          id      : "test-editormd",
          width   : "90%",
          height  : 640,
          path    : "../lib/"
      });
      */

      // $("body").click(function () {
      //   //   alert( "Handler for .click() called." );
      //   $("#plist").hide();
      // });

      function autotab() {
        // var data = window.localStorage.setItem('autotab_task',Date.now())
        var tab_task = window.sessionStorage.setItem('tab_task', true)
        window.sessionStorage.setItem('tab_task_time', Date.now())
        console.log("执行tab函数!")
        var getCursor = TEditormd.getCursor()
        // plist()

        // console.log("坐标",getSelectionCoords())
        // console.log("获取当前位置getCursor =>", getCursor);
        // console.log("获取当前位置getCursor =>", getCursor.ch);
        // console.log("获取当前位置getCursor =>", getCursor.line);
        var now_ch = getCursor.ch;
        var now_line = getCursor.line;
        TEditormd.setSelection({ line: now_line - 1, ch: 10 }, { line: now_line, ch: now_ch });
        var pline = $("#pline").val();

        // console.log("getSelection =>", TEditormd.setSelection({ line: now_line - pline, ch: 0 }, { line: now_line, ch: now_ch }));
        // console.log("获取的内容getSelection =>", TEditormd.getSelection());
        text = TEditormd.getSelection()
        TEditormd.setSelection({ line: 0, ch: 0 }, { line: 0, ch: 0 });
        getplist(text)
        // TEditormd.setSelection()

        TEditormd.focus();
        TEditormd.setCursor({ line: now_line, ch: now_ch });

      }
      function tab() {

        $(".main-content").css("background","#fff");
        var tab_task = window.sessionStorage.setItem('tab_task', true)
        window.sessionStorage.setItem('tab_task_time', Date.now())
        console.log("执行tab函数!")
        // 判断是不是被选中
        if ($('#customSwitch_xuxie').get(0).checked) {
          var loading = '<div id="pre_loading" class="spinner-border text-success" role="status">  <span class="sr-only">Loading...</span></div>'
          $("#plist").html(loading).css("background", "#fdf986")
        } else {
          // return 
        }


        var getCursor = TEditormd.getCursor()
        // plist()

        // console.log("坐标",getSelectionCoords())
        // console.log("获取当前位置getCursor =>", getCursor);
        // console.log("获取当前位置getCursor =>", getCursor.ch);
        // console.log("获取当前位置getCursor =>", getCursor.line);
        var now_ch = getCursor.ch;
        var now_line = getCursor.line;
        // TEditormd.setSelection({line:now_line-1, ch:10}, {line:now_line, ch:now_ch});
        var pline = $("#pline").val();
        console.log("getSelection =>", TEditormd.setSelection({ line: now_line - pline, ch: 0 }, { line: now_line, ch: now_ch }));
        console.log("获取的内容getSelection =>", TEditormd.getSelection());
        text = TEditormd.getSelection()

        getplist(text)
        // socket.emit('下一句预测',{start:text.slice(-20),keywords:text.slice(-20)});
        TEditormd.focus();
        TEditormd.setCursor({ line: now_line, ch: now_ch });
        $(".main-content").css("background","#deffde");
        // TEditormd.setCursor({line:1, ch:2});
        // TEditormd.replaceSelection("$$$$$$$$$");
        // TEditormd.focus();

        // http://editor.md.ipandao.com/examples/set-get-replace-selection.html
      }

      function getplist(text) {
        $('#plist_next ol').html('')

        // 判断是不是被选中
        if ($('#customSwitch_xiayiju').get(0).checked) {
          var keywords = $("#serachkeywords_input").val();
          socket.emit('下一句预测', { start: text, keywords: keywords });
        } else {
          // return 
        }

        // // 判断是不是被选中
        // if ($('#customSwitch_zhaiyao').get(0).checked) {
        //   socket.emit('全文评级', { text: text });
        // } else {
        //   // return 
        // }
        
        // 判断是不是被选中
        if ($('#customSwitch_zhaiyao').get(0).checked) {
          var ner_input = $("#ner_input").val();
          socket.emit('获取摘要', { data: text.slice(-50),ner_input:ner_input });
          
        } else {
          // return 
        }
        // 判断是不是被选中
        // if ($('#customSwitch_guanjianci').get(0).checked) {
        //   socket.emit('关键词探索', { data: text.slice(-50) });
          
        // } else {
        //   // return 
        // }

        $('#miaoshu-rs').prepend('</br></br>')
        $("#serach-rs").html("")
        $('#serach-sent ol').html('')
        $('#plist_next ol').html('')
        $('#serach-julei').html('')

        // 判断是不是备选中
        if ($('#customSwitch_xuxie').get(0).checked) {

        } else {
          return
        }

        //    var text = '测试狗子'
        var plen = $("#plen").val();
        var n = $("#n").val();

        window.localStorage.setItem("text", text)
        var title = $("#title").val()
        window.localStorage.setItem("title", title)

        $.post("/json/predict", {
          'text': text + "", 'plen': plen, 'n': n

        })
          .done(function (data) {
            var tab_task = window.sessionStorage.setItem('tab_task', false)
            console.log("执行后台完毕,释放预测限制")
            console.log(data.items)
            window.localStorage.setItem('plist', JSON.stringify(data))
            plist(data.items)
            $("#plist").css("background", "#fafafa")
            // text.
            text = TEditormd.getValue()
            // getmarker(text)




          });
          $(".main-content").css("background","#fff");
      }
      function removesp(str) {
        str = str.replace(/<\/?[^>]*>/g, ''); //去除HTML tag
        str = str.replace(/[ | ]*\n/g, '\n'); //去除行尾空白
        str = str.replace(/\n[\s| | ]*\r/g, '\n'); //去除多余空行
        str = str.replace(/ /ig, '');//去掉 
        str = str.replace(/^[\s　]+|[\s　]+$/g, "");//去掉全角半角空格
        str = str.replace(/[\r\n]/g, "");//去掉回车换行
        return str;
      }


      function getmarker(text) {
        // 标记数据 发现可以拓展知识的词语


        $.post("json/get/marker", {
          'text': text

        })
          .done(function (data) {
            // var tab_task = window.sessionStorage.setItem('tab_task',false)
            console.log("获取标记信息")
            console.log(data)
            // window.localStorage.setItem('plist', JSON.stringify(data))
            // plist(data.items)
            // $("#plist").css("background","#fafafa")
            // text.
            markerlist(data)
          });

      }

      function markerlist(items) {
        tags = ""
        // console.log('items',items)
        words = ""
        // words = "<div  class='kg'>"
        $.each(items, function (index, value) {
          console.log(index, value)
          // words = words + "<h3 class='ner-"+index+"'>" +value['type'] + ':' + value['word'] + "</h3>"
          words = words + '  <div class="card">'
          // if (value['word']['type']==undefined){
          //   words=words+"<dt>"+value['word']['type']+':'+value['word']['words']+"</dt>"
          // }

          words = words + ""
          var info = ''
          var n = 0
          try {
            $.each(value['kg'], function (index1, value1) {


              info = info + '<dt>' + index1 + '</dt><dd>'
              try {
                $.each(value1, function (i, v) {
                  info = info + i + ","
                  n = n + 1
                })
              }
              catch (err) {
                // document.getElementById("demo").innerHTML = err.message;
              }
              info = info + '</dd>'

            })
          }
          catch (err) {
            // document.getElementById("demo").innerHTML = err.message;
          }
          if (n > 0) {

            tags = tags + '<span  class="badge badge-success" data-toggle="collapse" data-target="#collapse' + index + '" aria-expanded="false" aria-controls="collapse' + index + '"  >' + value['word'] + n + '</span>'
          } else {

            tags = tags + '<span  class="badge badge-secondary" data-toggle="collapse" data-target="#collapse' + index + '" aria-expanded="false" aria-controls="collapse' + index + '"  >' + value['word'] + n + '</span>'
          }


          // #这里是头部
          // if (n==0){
          //         words = words +' <div class="card-header" id="heading'+index+'"> <h2 class="mb-0"><button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse'+index+'" aria-expanded="false" aria-controls="collapse'+index+'">' + value['word']  +' </button></h2></div>'
          //       }else{
          //         var badge='<span class="badge badge-success">'+n+'</span>'
          //         words = words +' <div class="card-header" id="heading'+index+'"> <h2 class="mb-0"><button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse'+index+'" aria-expanded="false" aria-controls="collapse'+index+'">' + value['word']  +badge+' </button></h2></div>'

          //       }
          if (index === 0) {

            words = words + '<div id="collapse' + index + '" class="collapse show" aria-labelledby="heading' + index + '" data-parent="#marker"> <div class="card-body">'
              + '<h3>' + value['word'] + n + '</h3>'
              + '<dl>'
              + info
              + '</dl>'
              + "</div></div>"
          } else {

            words = words + '<div id="collapse' + index + '" class="collapse" aria-labelledby="heading' + index + '" data-parent="#marker"> <div class="card-body">'
              + '<h3>' + value['word'] + n + '</h3>'
              + '<dl>'
              + info
              + '</dl>'
              + "</div></div>"

          }

          words = words + "</div>"




        })


        words = words + "</div>"
        $("#marker").html(words)
        $("#marker-tags").html(tags)


      }

      function plist(items) {
        // 获取坐标
        var coordinate = getSelectionCoords()
        console.log("当前坐标", coordinate)
        // $('body').append('<div id="plist">添加的内容</div>')


        var or = TEditormd.getSelection()
        // or=   removesp(or)
        var data = JSON.parse(window.localStorage.getItem('plist'))
        var original = data.original
        if (original.length > 10) {
          var pre = original.substr(original.length - 10, original.length)
        } else {
          var pre = original
        }
        var listhtml = "<div class='pre-shot'><span='label'>前文:</span>..." + pre + "</div>"
        listhtml = listhtml + "<ul id='plist_ul'>"


        $.each(items, function (index, value) {
          // console.log("准备or:",or)
          //  text=value.replace(or,'');
          // window.localStorage.setItem('plist'+index,text)
          // marked_text="<div class='value' data='"+value+"' >"

          // value_mini=value.charAt(value.length-3)
          // marked_text=removesp(value).replace(or,or+'<div class="b">');
          // marked_text_next=removesp(value).replace(or,or+'<div class="b">');
          marked_text_next = removesp(value).replace(or, '<div class="b">');
          // console.log(marked_text_next)
          marked_text = marked_text_next + '</div>';
          //  alert(i+"..."+value);
          if (index == 0) {
            // listhtml = listhtml + "<li class='it active it-"+index+"' data-text='" + index + "'>" + marked_text + "</li>" 
            listhtml = listhtml + "<li class='sent it it-" + index + "' data-text='" + index + "'>" + value + "</li>"
          } else {
            listhtml = listhtml + "<li class='sent it it-" + index + "' data-text='" + index + "'>" + value + "</li>"
          }

        });
        listhtml = listhtml + "</ul>"

        //     `
        // $("#plist").html(listhtml).show().css({ "left": Math.abs(coordinate.x) + 10 + "px", "top": Math.abs(coordinate.y) + 40 + "px" })
        $("#plist").html(listhtml)

      }

      function getSelectionCoords(win) {
        // 获取光标坐标
        win = win || window;
        var doc = win.document;
        var sel = doc.selection, range, rects, rect;
        var x = 0, y = 0;
        if (sel) {
          if (sel.type != "Control") {
            range = sel.createRange();
            range.collapse(true);
            x = range.boundingLeft;
            y = range.boundingTop;
          }
        } else if (win.getSelection) {
          sel = win.getSelection();
          if (sel.rangeCount) {
            range = sel.getRangeAt(0).cloneRange();
            if (range.getClientRects) {
              range.collapse(true);
              rects = range.getClientRects();
              if (rects.length > 0) {
                rect = rects[0];
              }
              // 光标在行首时，rect为undefined
              if (rect) {
                x = rect.left;
                y = rect.top;
              }
            }
            // Fall back to inserting a temporary element
            if ((x == 0 && y == 0) || rect === undefined) {
              var span = doc.createElement("span");
              if (span.getClientRects) {
                // Ensure span has dimensions and position by
                // adding a zero-width space character
                span.appendChild(doc.createTextNode("\u200b"));
                range.insertNode(span);
                rect = span.getClientRects()[0];
                x = rect.left;
                y = rect.top;
                var spanParent = span.parentNode;
                spanParent.removeChild(span);

                // Glue any broken text nodes back together
                spanParent.normalize();
              }
            }
          }
        }
        return { x: x, y: y };
      }




      //     $("#plist li").click(function(){
      //     var text=$(this).text();
      //     console.log("准备插入:",text)
      //     TEditormd.insertValue(text);
      // });













    });



    var socket = io.connect('http://' + document.domain + ':' + location.port + '/tapi');

    $(document).ready(function () {
      socket.on('预测摘要', function (msg) {
        console.log(msg)
        timestamp = (new Date()).valueOf();


        html = '<div id="content_'+timestamp+'" class="card">'
        html = html + '<div class="card-header" id="c_heading' + timestamp + '"> <h2 class="mb-0"><button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#c_collapse' + timestamp + '" aria-expanded="false" aria-controls="c_collapse' + timestamp + '"> ' + msg.data.title + '  </button> </h2> </div>'
        html = html + ' <div id="c_collapse' + timestamp + '" class="collapse" aria-labelledby="c_heading' + timestamp + '" data-parent="#serach-julei"><div class="card-body">'
        // $.each(msg.data, function (index, value) {
        //   // content_list
        //   html = html + '<p data-text="' + value + '"  class="sent"> ' + value + '</p>'
        // })
 
        // html = html + '</div></div></div>'
        // $('#serach-julei').append(html)




        html = html+'<h4  data-text="## ' + msg.data.title + '"  class="sent">##  ' + msg.data.title + '</h4>'
        html = html+'<h2>描述</h2>'
        $.each(msg.data.description, function (index, value) {
          // content_list
          html = html + '<p data-text="' + value + '"  class="sent"> ' + value + '</p>'

        })



        var miaoshu  = ''
        $.each(msg.data.description, function (index, value) {
          // content_list
          miaoshu = miaoshu + '<p data-text="' + value + '"  data-id="content_'+timestamp+'" class="sent_pop plus_menu"> ' + value + '</p>'

        })
        var ner_input=$("#ner_input").val()
        // miaoshu = miaoshu + '<h2  class="ms"> ' + ner_input + '</h2>'
        $('#miaoshu-rs').prepend(miaoshu)



        html = html+'<h2>摘要</h2>'
        $.each(msg.data.sumy, function (index, value) {
          // content_list
          html = html + '<p data-text="' + value + '"  class="sent plus_menu"> ' + value + '</p>'

        })
        html = html+'<h2>关键短语</h2>'
        $.each(msg.data.seq, function (index, value) {
          // content_list
          html = html + '<p data-text="' + value.text + '"  class="sent plus_menu"> ' + value.text + '</p>'

        })

        html = html+'<h2>原文</h2>'

        // content_list
        var content=''
        $.each(msg.data.content_list, function (index, value) {
          // content_list
          if(msg.data.sumy.indexOf(value) > -1){
            //则包含该元素
            content = content + '<p data-text="' + value + '"  class="sent y plus_menu"> ' + value + '</p>'
          }else{
            content = content + '<p data-text="' + value + '"  class="sent n plus_menu"> ' + value + '</p>'
          }


          

        })
        html = html + '</div><div class="highlights">' + content + '</div>'






        html = html + '</div></div></div>'
        $('#serach-rs').append(html)
        // $('#serach-rs').prepend(html)
      })





      socket.on('句子聚类', function (msg) {
        console.log('句子聚类', msg)
  
        html = '<div class="card">'
        html = html + '<div class="card-header" id="heading' + msg.key + '"> <h2 class="mb-0"><button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse' + msg.key + '" aria-expanded="false" aria-controls="collapse' + msg.key + '">  (' + msg.data.length + ' )' + msg.sumy[0] + '  </button> </h2> </div>'
        html = html + ' <div id="collapse' + msg.key + '" class="collapse" aria-labelledby="heading' + msg.key + '" data-parent="#serach-julei"><div class="card-body">'
        $.each(msg.data, function (index, value) {
          // content_list
          html = html + '<p data-text="' + value + '"  class="sent plus_menu"> ' + value + '</p>'
          // if ( msg.data.sumy.indexOf(value) !=-1) {
          // html = html + '<p class="it"> ' + value + '</p>'
          // }else{
          //   html = html + '<p class="it c"> ' + value + '</p>'
          // }
        })

        // html=html +'</div><div class="highlights">'+ msg.data.content+ '</div>'
        html = html + '</div></div></div>'
        $('#serach-julei').append(html)
        // // $('#serach-rs').prepend(html)
      })


      socket.on('搜索句子', function (msg) {
        console.log(msg)
        // html = '<li class="row">'
        html = ''
        // <h4 class="it">' + msg.data.title + '</h4>
        // html=html +'<div class="highlights">'+ msg.data.highlights+ '</div>'
        // html=html +'<li class="sent it">'+ msg.data.content+ '</li>'
        html = html + '<li data-text="' + msg.data.content + '" class="sent it plus_menu">' + msg.data.content + '</li>'
        // content

        // html=html + '</li>'
        $('#serach-sent ol').prepend(html)
        // $('#serach-rs').prepend(html)
      })

      socket.on('Ai下一句', function (msg) {
        console.log(msg)
        // html = '<li class="row">'
        html = ''
        // <h4 class="it">' + msg.data.title + '</h4>
        // html=html +'<div class="highlights">'+ msg.data.highlights+ '</div>'
        // html=html +'<li class="sent it">'+ msg.data.content+ '</li>'
        html = html + '<li data-text="' + msg.data[1] + '" class="sent_add it">评分：' + msg.data[0] + '   </br> ' + msg.data[1] + '</li>'
        // content

        // html=html + '</li>'
        $('#plist_next ol').append(html)
        // $('#serach-rs').prepend(html)
      })



      socket.on('Ai评级', function (msg) {
        console.log(msg)
        // html = '<li class="row">'
        // html=''
        // <h4 class="it">' + msg.data.title + '</h4>
        // html=html +'<div class="highlights">'+ msg.data.highlights+ '</div>'
        // html=html +'<li class="sent it">'+ msg.data.content+ '</li>'
        html = msg.rank
        // content

        // html=html + '</li>'
        $('#rank').html(html)
        // $('#serach-rs').prepend(html)
      })


      socket.on('Ai排序', function (msg) {
        console.log(msg)
        // html = '<li class="row">'
        // html=''
        // <h4 class="it">' + msg.data.title + '</h4>
        // html=html +'<div class="highlights">'+ msg.data.highlights+ '</div>'
        // html=html +'<li class="sent it">'+ msg.data.content+ '</li>'
        html = msg.data
        // content

        // html=html + '</li>'
        $('#getpingji_text').html(html)
        // $('#serach-rs').prepend(html)
      })


      socket.on('自动分段结果', function (msg) {
        console.log(msg)

        html = msg.data+"</br></br>"

        $('#getpingji_text').append(html)
        // $('#serach-rs').prepend(html)
      })

      socket.on('Ai草稿', function (msg) {
        console.log(msg)
        // html = '<li class="row">'
        // html=''
        // <h4 class="it">' + msg.data.title + '</h4>
        // html=html +'<div class="highlights">'+ msg.data.highlights+ '</div>'
        // html=html +'<li class="sent it">'+ msg.data.content+ '</li>'
        html = msg.data
        // content
        TEditormd.setValue(msg.data)
        // html=html + '</li>'
        // $('#getpingji_text').html(html)
        // $('#serach-rs').prepend(html)
      })








    })

    // 匹配颜色高亮
    function keywordscolorful(str, key){
      console.log("替换")
        var reg = new RegExp("(" + key + ")", "g");
        // var newstr = str.replace(reg, "<font style='background:#ff0;'>$1</font>");
        var newstr = str.replace(reg, "<span class='m_result' style='background:yellow;color:red;''>" + key + "</span>");
        
        return newstr;
    }

    $(document).on('click', '.sent_pop', function () {
      $(this).addClass("clicked")
      $('#pop-box .modal-body').html("空白内容")
      $('#pop-box').modal('show')
      var searchText=$(this).data('text')
      var content_id=$(this).data('id')
      var html =$("#"+content_id+" .collapse .highlights").html()
      var h2 =$("#"+content_id+" .collapse h4").html()
      $('#pop-box .modal-header h2').html(h2)
      $('#pop-box .modal-body').html(html)

      // var regExp = new RegExp("(" + searchText + ")", 'g');
      // var newHtml = html.replace(regExp, '<span class="m_result" style="background:yellow;color:red;">' + searchText + '</span>');
      console.log("searchText",searchText)
      var newHtml = keywordscolorful(html, searchText)
      console.log("newHtml",newHtml)
      $('#pop-box .modal-body').html(newHtml)


    })

    $(document).on('dblclick', '.sent', function () {
// var text = $(this).data('text');
var text = $(this).text();
// 插入
TEditormd.insertValue("\n"+text);
$(this).addClass("used")
auto_save()
// $(this).addClass("used").removeClass("sent")

})
    $(document).on('click', '.sent_add', function () {


      var text = $(this).data('text');
      // var text = $(this).text();
      // var or = TEditormd.getSelection()
      // 插入
      TEditormd.insertValue("\n"+text);
      // 替换选中
      // TEditormd.replaceSelection(text+"");
      // TEditormd.focus();
      $(this).addClass("used")
      auto_save()
    })

//     $(document).on('click', '.addmark', function () {

//       window.localStorage.setItem('mark', JSON.stringify(data))

// var text = $(this).data('text');
// // var text = $(this).text();
// // var or = TEditormd.getSelection()
// // 插入
// TEditormd.insertValue("\n"+text);
// // 替换选中
// // TEditormd.replaceSelection(text+"");
// // TEditormd.focus();

// })





    //     $(document).on('click', '.it', function () {


    // var text = $(this).text();

    // var or = TEditormd.getSelection()
    // // 插入
    // TEditormd.insertValue(or + "" + text);
    // // 替换选中
    // // TEditormd.replaceSelection(text+"");
    // // TEditormd.focus();

    // })


    // 搜索关键词
    $(document).on('click', '#serachkeywords', function () {
      console.log("获取摘要")
      // var text = TEditormd.getMarkdown()
      var getCursor = TEditormd.getCursor()
      // plist()

      // console.log("坐标",getSelectionCoords())
      // console.log("获取当前位置getCursor =>", getCursor);
      // console.log("获取当前位置getCursor =>", getCursor.ch);
      // console.log("获取当前位置getCursor =>", getCursor.line);
      var now_ch = getCursor.ch;
      var now_line = getCursor.line;
      TEditormd.setSelection({ line: now_line - 10, ch: 10 }, { line: now_line, ch: now_ch });
      var text = TEditormd.getSelection()



      // 判断是不是被选中
      if ($('#customSwitch_xiayiju').get(0).checked) {
        socket.emit('下一句预测', { start: text, keywords: $("#serachkeywords_input").val() });
      } else {
        // return 
      }

      // 判断是不是被选中
      if ($('#customSwitch_zhaiyao').get(0).checked) {
        var ner_input = $("#ner_input").val();
        socket.emit('获取摘要', { data: $("#serachkeywords_input").val(),ner_input:ner_input });
      } else {
        // return 
      }




      $('#miaoshu-rs').prepend('</br></br>')
      $("#serach-rs").html("")
      $('#serach-sent ol').html('')
      $('#plist_next ol').html('')
      $('#serach-julei').html('')

    })

    // 获取全文评级
    $(document).on('click', '#getpingji', function () {

      console.log("获取评级")
      // var text = TEditormd.getMarkdown()
      // var text = TEditormd.getMarkdown()

      var getCursor = TEditormd.getCursor()
      // plist()

      // console.log("坐标",getSelectionCoords())
      // console.log("获取当前位置getCursor =>", getCursor);
      // console.log("获取当前位置getCursor =>", getCursor.ch);
      // console.log("获取当前位置getCursor =>", getCursor.line);
      var now_ch = getCursor.ch;
      var now_line = getCursor.line;
      // TEditormd.setSelection({ line: now_line - 10, ch: 10 }, { line: now_line, ch: now_ch });
      var text = TEditormd.getSelection()
      socket.emit('全文评级', { text: text.slice(-500) });
      $('#getpingji_text').html(text.slice(-500))
    })

    // 获取排序
    $(document).on('click', '#getpaixu', function () {
      console.log("排序内容")
      var title = $("#title").val()
      var text = TEditormd.getMarkdown()
      socket.emit('全文排序', { title: title, text: text });
    })

    // 获取排序
    $(document).on('click', '#getfenduan', function () {
      console.log("自动分段")
      var num = $("#num").val()
      var text = TEditormd.getMarkdown()
      socket.emit('自动分段', { num: num, text: text });
      
      $('#getpingji_text').html('<h2>分段结果</h2>')
    })
    // 获取排序
    $(document).on('click', '#getcaogao', function () {
      console.log("Ai草稿")
      var title = $("#title").val()
      var text = title+"。\n"+TEditormd.getMarkdown()
      var keywords = $("#serachkeywords_input").val()
      socket.emit('自动草稿', { start: text, keywords: keywords });
    })

    // 获取排序
    $(document).on('click', '#getcaogao_stop', function () {
      console.log("Ai停止草稿")

      socket.emit('停止草稿', {});
    })

    $(document).on('click', '#getkeywords', function () {


      var text = TEditormd.getMarkdown()
      $.post("/json/get/keywords", {
        // 'text': text + "", 'plen': plen, 'n': n
        'text': text

      })
        .done(function (data) {
          console.log(data)
          keywords_text = ''
          $.each(data, function (index, value) {
            keywords_text = keywords_text + value['word'] + "，"
          })

          TEditormd.setValue(" [KW] " + keywords_text)



        })

    })

    $(document).on('click', '#getkeyseq', function () {


      var text = TEditormd.getMarkdown()
      $.post("/json/get/keyseq", {
        // 'text': text + "", 'plen': plen, 'n': n
        'text': text

      })
        .done(function (data) {
          console.log(data)
          keywords_text = ''
          $.each(data, function (index, value) {
            keywords_text = keywords_text + value['text'] + "。"
          })

          TEditormd.setValue(" [KW] " + keywords_text)



        })

    })


    $(document).on('click', '#plist .it', function () {


      var id = $(this).data('text');

      var data = JSON.parse(window.localStorage.getItem('plist'))
      // console.log('data',data)
      var text = data.items[id]
      var or = TEditormd.getSelection()
      // console.log("准备or:",or)
      // text=text.replace(or,or+'');
      // text=text+'';
      // console.log("准备插入:",text)
      // 插入
      TEditormd.insertValue(or + "\n" + text);
      // 替换选中
      // TEditormd.replaceSelection(text+"");
      // TEditormd.focus();

    })



    $(document).on('click', '.settings', function () {
      console.log("doank")
      $('#settings-box').modal('show')
    })


    $(document).on('click', '.close', function () {
      console.log("close")
      $('#settings-box').modal('hide')
    })



    function auto_save() {
      console.log("自动保存")
      var text = TEditormd.getValue()
      window.localStorage.setItem("text", text)
    }
    var x = 0;//水平方向位移
    var y = 0;//垂直方向位移
    $(document).keydown(function (event) {


      switch (event.keyCode) {
        case 38:
          console.log("up")
          $(".it.active").removeClass("active").prev().addClass("active")

          break;
        case 40:
          console.log("down")
          $(".it.active").removeClass("active").next().addClass("active")
          break;
        case 13:
          console.log("回车")
          auto_save()
          // var id=  $(".it.active").data('text')

          // var data = JSON.parse(window.localStorage.getItem('plist'))
          // // console.log('data',data)
          // var text = data.items[id]
          // var or = TEditormd.getSelection()
          // // console.log("准备or:",or)
          // // text=text.replace(or,or+'');
          // // text=text+'';
          // // console.log("准备插入:",text)
          // // 插入
          // TEditormd.insertValue(or + "" + text);
          // $("#plist").hide()
          // $(".it.active").removeClass("active")
          break;
        default:
          auto_save()
        // console.log("")

      }


    });

  
  
  
  
// $(function(){
//     $.contextMenu({
//         selector: '.sent', 
//         items: $.contextMenu.fromMenu($('#html5menu'))
//     });
// });
  
  
    $(function() {
        $.contextMenu({
            selector: '.plus_menu', 
            callback: function(key, options) {
                // var m = "clicked: " + key;
                // window.console && console.log(m) || alert(m); 
                // console.log("options",options)
                
                // key(aa)
                switch(key) {
                  case "addmark":
                  var text=$(this).text()
                    $(this).addClass("used")
                    addmark(text)
                    // code block
                    break;
                  case 'search':
                  var text=$(this).text()
                  $("#serach-rs").append('<div class="card"><h2>进一步搜索：'+text+'</h2></div>')
                  $("#miaoshu-rs").prepend('</br></br>')
                    var ner_input=$("#ner_input").val()
                    socket.emit('获取摘要', { data: text,ner_input:ner_input });
                   $("#ner_input").val(text)
                    

                    // code block
                    break;
                  default:
                    // code block
                }
                // console.log("aa",aa)
            },
            items: {
              "addmark": {name: "addmark", icon: "copy"},
              "search": {name: "search", icon: "search"},
                "sep1": "---------",
                "quit": {name: "Quit", icon: function(){
                    return 'context-menu-icon context-menu-icon-quit';
                }}
            }
        });
  addmark(null)
  function addmark(text){
    
        console.log("mark",text)
       
        var mark=window.localStorage.getItem('mark')
        if (text===null){
          var data=JSON.parse(mark)
          }else{


        if( mark===null){
          var data=[text]
        }else{
          var data=JSON.parse(mark)
          
          data.unshift(text)
        }
        // console.log("data",data)
        // new_data={'data':data}
        window.localStorage.setItem('mark', JSON.stringify(data))
      }
        $("#mark").html("")
        $("#mark_header .num").html(data.length)
        $.each(data, function (index, value) {

          $("#mark").append("<li class='sent_add' data-text='"+value+"'>"+value+"</li>")


        })

      }


      $('#mark_header_clear').on('click', function(e){
            // console.log('clicked', this);
            // window.console
          window.localStorage.setItem('mark', JSON.stringify([]))
          $("#mark").html("")
          $("#mark_header .num").html(null)
        })    

      
        $('#mark_header').on('click', function(e){
            // console.log('clicked', this);
            // window.console
            
          $("#mark").addClass("mark_inited").toggle();
        })    
    });
  
  
  
  
  
  
  
  
  </script>
  <!-- <menu id="html5menu" style="display:none" class="showcase">
    <command label="mark" icon="mark" class="addmark">
    <command label="resize" onclick="alert('resize')"> 
      <command label="twitter" onclick="alert('twitter')">
      <hr> 
      <command label="facebook" onclick="alert('facebook')">
    </menu>
  </menu> -->
  <div class="container">
    <!-- Content here -->
    <!-- <span class="context-menu-one btn btn-neutral">right click me</span> -->

    <div id="settings-box" class="pdo_tools modal">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>

      </div>
      <div class="modal-body">
        <form>

          <div class="form-row">
            <label for="validationServer01">预测字数</label>
            <input type="number" id="plen" value='50' class="form-control is-valid" id="validationServer01"
              placeholder="First name" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="form-row">
            <label for="validationServer02">预测条数</label>
            <input type="number" class="form-control is-valid" id="n" placeholder="" value="5" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="form-row">
            <label for="validationServer02">向前预测范围(行数)</label>
            <input type="number" class="form-control is-valid" id="pline" placeholder="" value="100" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>


        </form>



        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch_xuxie" checked>
          <label class="custom-control-label" for="customSwitch_xuxie">关闭续写</label>
        </div>


        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch_xiayiju" checked>
          <label class="custom-control-label" for="customSwitch_xiayiju">关闭下一句</label>
        </div>



        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch_juzi" checked>
          <label class="custom-control-label" for="customSwitch_juzi">关闭句子</label>
        </div>


        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch_zhaiyao" checked>
          <label class="custom-control-label" for="customSwitch_zhaiyao">关闭摘要</label>
        </div>






      </div>
      <div class="modal-footer">
        <button id="settingsclose" type="button" class="btn btn-default settings close">关闭</button>

      </div>
    </div>












    <div id="pop-box" class="pop_tools modal">
      <div class="modal-header">
        <h2></h2>
        <a class="close" data-dismiss="modal">×</a>

      </div>
      <div class="modal-body">
 
  

      </div>
      <div class="modal-footer">
        <button id="popclose" type="button" class="btn btn-default pop close">关闭</button>

      </div>
    </div>








  </div>

  </div>

</body>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.0/jquery.contextMenu.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.0/jquery.ui.position.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.0/jquery.contextMenu.css">
  

</html>