<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
            <!-- Required meta tags -->
 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Ai写作助手</title>
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/editormd.css" />
        <!-- <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" /> -->
        <style>
     
        </style>
    </head>
    <body>
        <div id="layout">
            <header>
                <h1>Ai edit</h1>
            </header>
     
        </div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/editor.md/editormd.min.js"></script>
     
        </script>
        <div class="container">
            <!-- Content here -->

<div class="pdo_tools">
 
 
<ol>
<li>
  <a href="/edit">Ai编辑器</a>
</li>
<li>
    <a href="/add/data">添加数据</a>
  </li>

  <li>
    <a href="/check/title">标题检查</a>
  </li>
  <li>
    <a href="/get/title">预测标题</a>
  </li>

  <li>
    <a href="/titles?state=good&page=">优秀标题</a>
  </li>
  <li>
    <a href="/find/titles?state=good&page=">提取标题</a>
  </li>

  <li>
    <a href="/search">Ai标题</a>
  </li>
  <li>
    <a href="/explore">探索关键词</a>
  </li>
  <li>
    <a href="/add/data">添加数据</a>
  </li>


</ol>



 
</div>

</div>
<!-- 预测提示 -->
        <div id="plist">

        </div>
    <!-- 预测提示end -->    
    </body>


       <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>