<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8" />
  <!-- Required meta tags -->

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Ai写作助手</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="/static/css/editormd.css" />
  <!-- <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" /> -->
  <style>



  </style>
</head>

<body>

  <script src="/static/js/jquery.min.js"></script>
  <!-- <script src="/static/editor.md/editormd.min.js"></script> -->
  <script type="text/javascript">

  </script>
  <div class="container">

    <div class="row">
      <div class="col col-lg-8">
 <h2>{{items['title']}}</h2>
<div class="content">

  {{items['content']}}


</div>

<h2>摘要</h2>
<ol>
{% for it in summary %}
<li>{{it}}</li>

{% endfor %}

<h2>已经预测标题</h2>
<ol>
{% for it in titles %}
<li>评分{{it['grade']}} {{it['title']}}<a href="/check/title?title={{it['title']}}">检查</a></li>

{% endfor %}

</ol>
      </div>
      <div class="col col-lg-2">
        <h2>关键词:</h2>
        <div id="get_keywords">
        </div>
      </div>
      <div class="col col-lg-2">



        <h2>日志:</h2>
        <div id="log"></div>


      </div>


    </div>
  </div>


</body>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>